{% extends 'closed_area/base.html.twig' %}
{% block content_row %}
    <div class="row-fluid">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title" id="scroll_up"> Serientermin {{ event.name }}</h2>
                    <a href="{{ path('event') }}" class="btn btn-sm btn-default" name="_submit"><span
                                class="glyphicon glyphicon-backward"></span> zurück</a>
                    {% if is_granted('ROLE_REPEATINGEVENT_EDIT') %}
                    <a href="{{ path('repeatingEvent_edit',{repeatingEvent:event.id}) }}" class="btn btn-sm btn-warning"><span
                                class="glyphicon glyphicon-pencil"></span> bearbeiten</a>
                    {% endif %}
                    {% if is_granted('ROLE_REPEATINGEVENT_DELETE') %}
                    <a href="{{ path('repeatingEvent_delete',{repeatingEvent:event.id}) }}" class="btn btn-sm btn-danger"><span
                                class="glyphicon glyphicon-trash"></span> löschen</a>
                    {% endif %}
                    <br><br>
                </div>
            </div>
            <div class="bg-light rounded m-3 p-3">
                <div class="row voffset5">
                    <div class="col-sm-2 font-weight-bold">Datum:</div>
                    <div class="col-sm-10">{{ event.getFormattedDate('%d.%m.%Y %H:%M') }}</div>
                </div>
                <div class="row voffset5">
                    <div class="col-sm-2 font-weight-bold">Typ:</div>
                    <div class="col-sm-10">{{ event.typeAsText|trans([],'event') }}</div>
                </div>
                <div class="row voffset3">
                    <div class="col-sm-2 font-weight-bold">Name:</div>
                    <div class="col-sm-10">{{ event.name }}</div>
                </div>
                <div class="row voffset3">
                    <div class="col-sm-2 font-weight-bold">Ort:</div>
                    <div class="col-sm-10">{{ event.location }}</div>
                </div>
                <div class="row voffset3">
                    <div class="col-sm-2 font-weight-bold">Info:</div>
                    <div class="col-sm-10">{{ (event.info ~ " ")|raw }}</div>
                </div>
                <div class="row voffset3">
                    <div class="col-sm-2 font-weight-bold">Antworten abschalten:</div>
                    <div class="col-sm-10">{{ event.disableAnswer ? 'Ja' : 'Nein' }}</div>
                </div>
                <div class="row voffset3">
                    <div class="col-sm-2 font-weight-bold">Spontan abschalten:</div>
                    <div class="col-sm-10">{{ event.disableImpulse ? 'Ja' : 'Nein' }}</div>
                </div>
                <div class="row voffset3">
                    <div class="col-sm-2 font-weight-bold">Öffentlich:</div>
                    <div class="col-sm-10">{{ event.public ? 'Ja' : 'Nein' }}</div>
                </div>
                {% if event.updated is defined and event.updated.timestamp > 100 %}
            <br><br>
                <small>Letzte Änderung von {{ event.updatedBy }} am {{ event.updated|date('d.m.y') }}
                    um {{ event.updated|date('H:i') }}</small>
                {% endif %}<br><br>
            </div>
            {% include 'closed_area/Event/list.html.twig' %}
        </div>
    </div>

{% endblock %}