    <div class="widget col-md-6 ">
        <h2 class="page-title" id="scroll_up"><span class="glyphicon glyphicon-calendar"></span></small> Aktivitäten
        </h2>
        <p>Die nächsten 5 Aktivitäten <a href="{{ path('event') }}" class="btn btn-sm btn-default">alle ansehen</a>
        </p>
        {% for event in events %}
            <p>{{ event.getFormattedDate('%a., %d.%m.%y') }} <a
                        href="{{ path('event_view',{event:event.id}) }}">{{ event.name }}</a>
                <small>@ {{ event.location }}</small>
            </p>
        {% endfor %}
    </div>