{% extends 'closed_area/base.html.twig' %}
{% block content_row %}
    <div class="container container-fluid" id="home">
        <!-- HOME -->

        <!-- ABOUT & UPDATES -->
        <div class="row-fluid" id="about">
            <div class="span12">
                <h2 class="page-title" id="scroll_up"> Administration</h2>
                {% if notApprovedUsers|length > 0 and is_granted('ROLE_USER_APPROVE') %}
                    <h3>Benutzerfreischaltungen</h3>
                    <table class="table table-sm table-striped datatable">
                        <thead>
                        <th>Benutername</th>
                        <th>Firma</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>E-Mail</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for user in notApprovedUsers %}
                            <tr>
                                <td>{{ user.username }}</span></td>
                                <td>{{ user.company.name|default }}</span></td>
                                <td>{{ user.firstname }}</span></td>
                                <td>{{ user.lastname }}</span></td>
                                <td>{{ user.email }}</span></td>
                                {#                            <td>{% if user.enabled %}<span class="alert-success">aktiviert{% else %}<span class="alert-danger">deaktiviert{% endif %}</span> <a href="{{ path('administration_toggle_user',{user:user.id}) }}" class="btn btn-sm btn-primany">ändern</a></td>#}
                                <td>
                                    <a href="{{ path('user_approval',{ user:user.id }) }}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-question-sign"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <h3>Alle Benutzer</h3>
                <table class="table table-sm table-striped datatable">
                    <thead>
                        <th>Benutername</th>
                        <th>Firma</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>E-Mail</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr {% if not user.enabled %}class="table-dark" style="text-decoration: line-through"{% endif %}>
                            <td>{{ user.username }}</span></td>
                            <td>{{ user.company.name|default }}</span></td>
                            <td>{{ user.firstname }}</span></td>
                            <td>{{ user.lastname }}</span></td>
                            <td>{{ user.email }}</span></td>
{#                            <td>{% if user.enabled %}<span class="alert-success">aktiviert{% else %}<span class="alert-danger">deaktiviert{% endif %}</span> <a href="{{ path('administration_toggle_user',{user:user.id}) }}" class="btn btn-sm btn-primany">ändern</a></td>#}
                            <td>
                                {% if is_granted('ROLE_USER_EDIT') %}<a href="{{ path('user_edit',{ user:user.id }) }}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>


    </div>
{% endblock %}