{% extends 'email/base.html.twig' %}
{% block subject %}Neue Veranstaltung{% endblock %}

{% block body %}
Hallo {{ receiver.username }}!<br><br>

{{ event.createdBy }} hat eine neue Veranstaltung "<b>{{ event.name }}</b>" erstellt.<br><br>

<b>Wann?</b> {{ event.date|date('d.m.Y') }} um {{ event.date|date('H:i') }} Uhr<br>
<b>Wo?</b> {{ event.location }}<br><br><br>

Bist du dabei? Gib {{ event.createdBy }} hier Bescheid:<br><br>
{{ link }}<br><br>

    Wenn du diese E-Mail-Benachrichtigung nicht mehr bekommen möchtest, kannst du diese jederzeit in deinen Einstellungen auf <a href="https://www.gemeinsam-bewegen.de">gemeinsam-bewegen.de</a> abschalten.
{% endblock %}