{% extends 'public_area/base.html.twig' %}

{% block content %}
{% for company in companies %}

    <div class="row p-4 mb-3 bg-light rounded">
            <div class="col-md-3">
                    {% if company.logoPath %}
                        <img class="w-100"
                             src="{{ company.logoWebPath }}" alt="">
                    {% endif %}
            </div>
            <div class="col-md-9">
                <h4>{{ company.name }}</h4>
                <small>{{ company.longText }}</small><br>
                {% if company.contactData|length > 0 %}
                    <strong>Kontakt: </strong>{{ company.contactData }}<br>
                {% endif %}
                {% if company.contactEmail |length > 0 %}
                    <strong>E-Mail: </strong><a href="mailto:{{ company.contactEmail }}">{{ company.contactEmail }}</a><br>
                {% endif %}
                {% if company.website|length > 0 %}
                    <strong>Website: </strong><a href="{{ company.website }}">{{ company.website }}</a><br>
                {% endif %}
            </div>

    </div>
{% endfor %}
{% endblock %}